@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primaryFont";
  src: url("./assets/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
  font-family: "boldFont";
  src: url("./assets/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bolder;
}

body {
  font-family: "primaryFont", sans-serif;
}

h2 {
  font-family: "boldFont", sans-serif;
}

h5,
span {
  font-family: "boldFont";
}

.link {
  list-style: none;
  cursor: pointer;
}
